# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 25
    labels:
      - "dependencies"
      - "go"
      - "automatic-merge"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "npm"
    directory: "/app-src"
    open-pull-requests-limit: 25
    labels:
      - "dependencies"
      - "javascript"
      - "automatic-merge"
    schedule:
      interval: "daily"
