#background-image {
    position: fixed;
    right: 0px;
    bottom: 10px;
    width: 500px;
    opacity: 0.1;
}

#containerTable thead th {
    height: 200px;
}

#containerTable .rotated {
    position: relative;
    transform: translate(0px, -70%) rotate(-25deg);
    width: 30px;
    white-space: nowrap;
    text-transform: none;
    overflow: visible;
}

#dockerlogo {
    position: relative;
    height: 20px;
}

#containerTable {
    table-layout: initial;
}

#containerTable .firstCol {
    /* width: 80px !important; */
    white-space: nowrap;
}

.badge {
    width: 70px !important;
    margin-bottom: 2px;
}